// Meta
base(href="/")
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
block meta
// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
<![endif]-->
// Vendor CSS
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/fa.css')
link(rel='stylesheet', href='components/form.validation/dist/css/bootstrapValidator.min.css')
// App CSS
link(rel='stylesheet', href='css/app.css')
// Modernizr JS Script
script(src='components/modernizr/modernizr.js', type='application/javascript')