// Main vendor Scripts
script(src='components/jquery/jquery.min.js')
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='components/form.validation/dist/js/bootstrapValidator.min.js')
script(src='components/queryloader2/queryloader2.min.js')
script(src='components/wow/dist/wow.min.js')
script(src='components/retinajs/dist/retina.min.js')
script(src='components/fullpage/vendors/jquery.easings.min.js')
script(src='components/fullpage/vendors/jquery.slimscroll.min.js')
script(src='components/fullpage/jquery.fullPage.min.js')
// App Main
script(src='js/app.js')