// Main vendor Scripts
script(src='components/jquery/dist/jquery.min.js')
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='components/form.validation/dist/js/bootstrapValidator.min.js')
script(src='components/jquery-serialize-object/dist/jquery.serialize-object.min.js')
// App Main
script(src='js/app.js')