- function userName(user) {return (user.lastname && user.firstname)?user.firstname.charAt(0).toUpperCase()+'. '+user.lastname:user.email}
.navbar-header
  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
    span.sr-only Меню
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') Projety
#navbar.collapse.navbar-collapse
  ul.nav.navbar-nav
    li: a(href='#') Что мы делаем
    li: a(href='#') Наши работы
    li: a(href='#') Как это работает
    li: a(href='#') Контакты
  ul.nav.navbar-nav.navbar-right
    if (user)
      li: a(href='/profile') #{userName(user)}
      li: a.logout(href='#', data-toggle="tooltip", data-placement="bottom", title="Выйти"): i.fa.fa-sign-out
    else
      li: a(href='/login') Войти
      li: a(href='/register') Зарегистрироваться