- function userName(user) {return (user.lastname && user.firstname)?user.firstname.charAt(0).toUpperCase()+'. '+user.lastname:user.email}
.navbar-header
  a#menu-toggle-wrapper(href='#'): #menu-toggle
  a.navbar-brand(href='/') Projety
#navbar(style='display: none')
  ul.nav
    li(data-menuanchor="hero"): a(href='#hero') Компания
    li(data-menuanchor="services"): a(href='#services') Наши услуги
    li(data-menuanchor="portfolio"): a(href='#portfolio') Портфолио
    li(data-menuanchor="features"): a(href='#features') Схема сотрудничества
    li(data-menuanchor="contacts"): a(href='#contacts') Контакты