doctype html
html(lang='en')
  head
    block active-item
    include ../partials/head
  body
    section#wrapper
      header#header
        nav.navbar.navbar-inverse.navbar-fixed-top
          .container
            include ../partials/top-navbar
      section#content
        .container
          block content
      footer#footer
        .container: .copyright &copy; 2015 Projety
    block body_child
    include ../partials/scripts
    block page_scripts
    - function addZ(n){return n<10? '0'+n:''+n;}
    - function showTime(date){return date.getFullYear()+'/'+addZ(date.getMonth()+1)+'/'+addZ(date.getDate())+' '+addZ(date.getHours())+':'+addZ(date.getMinutes())}