#content {
  margin-top: 50px;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 10px;
}

.jumbotron {
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  p { margin-bottom: 5px; }
  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}

#footer {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid #eee;
  .copyright {
    text-align: center;
  }
}
